.btn__wrapper {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: 0 auto;
}

.counter__title {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 150px;
  font-size: 50px;
  font-weight: 600;
}

.counter__num {
  text-align: center;
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 20px;
}
