.bg__holder {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  width: 560px;
  margin: 40vh auto 25px;
  color: #fff;
  background: #111;
  padding: 5px 5px 9px;
  border-radius: 3px;
}

.bg__btn {
  margin: 0 auto;
}
